# -*- mode: sh; -*-
export DIRENV_WARN_TIMEOUT=20s
export AZURE_SUBSCRIPTION_ID=6e639471-b818-40c3-a0ce-d36d5f2163b3

eval "$(devenv direnvrc)"
use devenv 2>/dev/null
source_env_if_exists .envrc.private
